<div class="view">
  <code># import the key with curl + gpg </code>
  <pre>curl https://keybase.io/jbsdx/pgp_keys.asc | gpg --import</pre>

  <div>
    <label for="modal-control">View xPUB</label>
  </div>
</div>

<input type="checkbox" id="modal-control" class="modal" />
<div>
  <div class="card pgp-modal">
    <label for="modal-control" class="modal-close"></label>
    <h3 class="section">PGP Public Key</h3>
    <div class="section ">
      <pre [innerHtml]="whoAmI?.xpub"></pre>
    </div>
  </div>
</div>
