<div class="collapse">
  <input type="checkbox" id="collapse-section1" checked aria-hidden="true" />
  <label for="collapse-section1" aria-hidden="true">Privacy Policy</label>
  <div>
    <iframe
      style="border: 0; height: 100px; width: 100%;"
      src="https://matomo.jbnz.de/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=1f1f1f&fontColor=ffffff&fontSize=&fontFamily=Prompt"
    ></iframe>
  </div>
</div>

<div class="footer-row">
  <div [innerHtml]="footerDateString"></div>
</div>
