.label {
  display: grid;
  grid-template-columns: 16px 1fr;
  grid-column-gap: 0.5rem;
  align-items: center;

  .value {
    &.clickable {
      cursor: pointer;
    }
    font-family: monospace;
  }
}
